<!DOCTYPE html>
<html>
<head>
	<title>Web Portfolio &copy;</title>

	<!-- semantic UI -->
	<link rel="stylesheet" type="text/css" href="/lib/css/semantic.min.css">

	<!-- custom style sheet -->
	<link rel="stylesheet" type="text/css" href="/styles/styles.css">

	<!-- fontawesome -->
	<script src="https://use.fontawesome.com/2960686916.js"></script>
</head>
<body>
