<% include partials/header.ejs %>
	<div class="homepage">
		<div class="container">
			<div class="ui two column centered grid">
			<!-- HEADING -->
  				<div class="column title">
  					<h1>Web Portfolio</h1>
  					<h2>progress so far</h2>
  					<hr>
  					<a href="/portfolio" class="btn btn-regular"> Get started</a>
  				</div>
			</div>
		</div>
	</div>
<% include partials/footer.ejs %>
